
body{
    background-image: url('https://img.freepik.com/free-vector/background-gradient-with-bokeh-effect_23-2148382073.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.subkaro{
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: large;
    border: none;
    height: 55px;
    width: 160px;
    border-radius: 2px;
    cursor:pointer;
    transition: opacity 0.15s;
    box-shadow: 5px 5px 5px black;
}
.subkaro:hover{
    opacity: 0.8;
}
.subkaro:active{
    background-color: grey;
}

.joinpls{
    background-color: white;
    border-color: rgb(41, 118, 221);
    border-style: solid;
    border-width: 1px;
    font-size: larger;
    color: rgb(41, 118, 221);
    height: 55px;
    width: 112px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s, color 0.15s;

}
.joinpls:hover{
    background-color: rgb(41, 118, 221);
    color: white;
}
.joinpls:active{
    opacity: 0.7;
}
.tweet{
    background-color: rgb(2, 137, 255);
    border-color: rgb(2, 137, 255);
    border-style: solid;
    border-width: 1px;
    font-size: large;
    color: rgb(255, 255, 255);
    height: 55px;
    width: 112px;
    border-radius:27px;
    cursor: pointer;
    margin-right: 8px;
    box-shadow: 5px 5px 0 black;
}
.tweet:hover{
    color: rgb(2, 137, 255);
    background-color: white;
}
marquee{
    font-family:cursive;
    color:blueviolet;
    border-style:double;
    border-color: magenta;
}
div.kavita{
    background-color:darkgrey; 
    border-style: dashed;
    border-left-color: red;
    border-right-color: orange;
    border-top-color: orangered;
    border-bottom-color: yellow;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: larger;
}
.toggle-container {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
}

/* Hidden input checkbox */
.toggle-checkbox {
    display: none;
}
/* Stylish toggle background */
.toggle-background {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
}
/* The toggle switch itself */
.toggle-switch {
    width: 50%;
    height: 100%;
    background-color: #11a8ff;
    border-radius: 15px;
    position: absolute;
    transition: 0.3s;
}

/* Position the switch based on the checkbox state */
.toggle-checkbox:checked + .toggle-background .toggle-switch {
    transform: translateX(100%);
}
.toggle-label {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 14px;
}

.toggle-label-on {
    left: 10%;
    color: #2ecc71;
}

.toggle-label-off {
    right: 10%;
    color: #e74c3c;
}